<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.dao.BlogDao">
    <cache type="com.bluemsun.util.RedisMybatisCache"/>
    <!-- crud -->
    <select id="getBlogs" resultType="com.bluemsun.entity.Blog">
        SELECT * FROM blog WHERE 1 = 1
        <if test="audit != null">
            AND audit = #{audit}
        </if>
        <if test="up != null">
            AND up = #{up}
        </if>
        AND id in
        <foreach collection="blogIds" item="i" open="(" separator="," close=")">
            #{i}
        </foreach>
    </select>
    <insert id="insertBlog" parameterType="com.bluemsun.entity.Blog"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog (content, user_id, introduction, title, photo)
        VALUES (#{content}, #{userId}, #{introduction}, #{title}, #{photo})
    </insert>
    <update id="updateBlogDetail" parameterType="com.bluemsun.entity.Blog">
        UPDATE blog
        SET content      = #{content},
            introduction = #{introduction},
            title        = #{title},
            photo        = #{photo}
        WHERE id = #{id}
    </update>
    <update id="updateBlogAudit">
        UPDATE blog
        SET audit = #{audit}
        WHERE id = #{blogId}
    </update>
    <update id="updateBlogUp">
        UPDATE blog
        SET up = #{up}
        WHERE id = #{blogId}
    </update>
    <insert id="insertBlogColumn">
        INSERT INTO blog_column (blog_id, column_id) VALUES
        <foreach collection="columnIds" item="i" separator=",">
            (#{blogId},#{i})
        </foreach>
    </insert>
    <delete id="deleteBlogColumn" parameterType="Long">
        DELETE
        FROM blog_column
        WHERE blog_id = #{blogId}
    </delete>
    <delete id="deleteBlog" parameterType="Long">
        DELETE
        FROM blog
        WHERE id = #{blogId}
    </delete>
    <select id="isExist" resultType="Integer">
        SELECT count(id)
        FROM blog
        WHERE id = #{id}
    </select>
    <!-- blog page in column -->
    <select id="getBlogsTimeOrderAmount" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM blog
        <where>
            <if test="userId != null and userId != tokenUserId">
                AND audit = 1
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="key != null">
                AND (title LIKE #{key} OR introduction LIKE #{key})
            </if>
        </where>
    </select>
    <select id="getBlogsTimeOrderPage" resultType="com.bluemsun.entity.Blog">
        SELECT * FROM blog
        <where>
            <if test="userId != null and userId != tokenUserId">
                AND audit = 1
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="key != null">
                AND (title LIKE #{key} OR introduction LIKE #{key})
            </if>
        </where>
        ORDER BY up DESC, likes DESC, update_time DESC
        LIMIT #{start},#{len}
    </select>
    <select id="getColumnsOfBlog"
            resultType="com.bluemsun.entity.Column">
        SELECT *
        FROM ccolumn
        WHERE id IN
              (SELECT column_id FROM blog_column WHERE blog_id = #{blogId})
    </select>
    <select id="getUpBlog" resultType="com.bluemsun.entity.Blog">
        SELECT *
        FROM blog
        WHERE up = 1
          AND audit = 1
        LIMIT #{start},#{len}
    </select>
    <select id="getBlogsAdminAmount" resultType="java.lang.Integer">
        SELECT count(id) FROM blog WHERE audit = #{audit}
    </select>
    <select id="getBlogsAdmin" resultType="com.bluemsun.entity.Blog">
        SELECT * FROM blog WHERE audit = #{audit} LIMIT #{start},#{len}
    </select>

</mapper>