<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.dao.BlogUserLikeDao">
    <cache type="com.bluemsun.util.RedisMybatisCache"/>
    <insert id="insertBlogUserLike">
        INSERT INTO blog_user_like
            (user_id, blog_id) VALUES (#{userId},#{blogId})
    </insert>
    <delete id="removeBlogUserLike">
        DELETE FROM blog_user_like
               WHERE user_id = #{userId} AND blog_id = #{blogId}
    </delete>
    <select id="checkBlogUserLike"
            resultType="com.bluemsun.entity.BlogUserLike">
        SELECT * FROM blog_user_like
                  WHERE blog_id = #{blogId} AND user_id = #{userId}
    </select>
    <select id="getBlogUserLikeAmount" resultType="java.lang.Long">
        SELECT likes FROM blog WHERE id = #{blogId}
    </select>
    <update id="updateLikes">
        UPDATE blog SET likes = likes + #{delta} WHERE id = #{blogId}
    </update>
</mapper>