<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.dao.ColumnDao">
    <cache type="com.bluemsun.util.RedisMybatisCache"/>
    <!-- crud -->
    <insert id="insertColumn" parameterType="com.bluemsun.entity.Column"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ccolumn (name)
        VALUES (#{name})
    </insert>
    <update id="updateColumn">
        UPDATE ccolumn
        SET name = #{name}
        WHERE id = #{id}
    </update>
    <select id="getColumn" parameterType="Long"
            resultType="com.bluemsun.entity.Column">
        SELECT name, id
        FROM ccolumn
        WHERE id = #{columnId}
    </select>
    <!-- column page -->
    <select id="getAmount" resultType="Integer">
        SELECT COUNT(id)
        FROM ccolumn
    </select>
    <select id="getPage" resultType="com.bluemsun.entity.Column">
        SELECT name, id
        FROM ccolumn
        LIMIT #{start},#{len}
    </select>
    <!-- blog page -->
    <select id="getBlogAmount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM blog_column
        WHERE column_id = #{columnId}
    </select>
    <select id="getBlogsInColumnPage" resultType="java.lang.Long">
        SELECT blog_id
        FROM blog_column
        WHERE column_id = #{columnId}
        LIMIT #{start},#{len}
    </select>

</mapper>