<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.dao.CommentDao">
    <cache type="com.bluemsun.util.RedisMybatisCache"/>
    <insert id="insertComment">
        <if test="blogId != null">
            INSERT INTO comment (content,user_id,blog_id) VALUE
            (#{content},#{userId},#{blogId})
        </if>
        <if test="commentId != null">
            INSERT INTO comment (content, user_id, comment_id) VALUE
            (#{content},#{userId},#{commentId})
        </if>
    </insert>
    <delete id="deleteComment">
        DELETE
        FROM comment
        WHERE id = #{commentId}
    </delete>
    <select id="getComment" resultType="com.bluemsun.entity.Comment">
        SELECT *
        FROM comment
        WHERE id = #{commentId}
    </select>
    <select id="getCommentAmount" resultType="java.lang.Integer">
        SELECT count(id) FROM comment WHERE
        <choose>
            <when test="blogId != null">
                blog_id = #{blogId}
            </when>
            <when test="commentId != null">
                comment_Id = #{commentId}
            </when>
            <otherwise>
                1 = 1
            </otherwise>
        </choose>
    </select>
    <select id="getCommentPage"
            resultType="com.bluemsun.entity.Comment">
        SELECT * FROM comment WHERE
        <choose>
            <when test="blogId != null">
                blog_id = #{blogId}
            </when>
            <when test="commentId != null">
                comment_Id = #{commentId}
            </when>
            <otherwise>
                1 = 1
            </otherwise>
        </choose>
        ORDER BY update_time DESC
        LIMIT #{start},#{len}
    </select>


</mapper>