<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.dao.UserDao">
    <cache type="com.bluemsun.util.RedisMybatisCache"/>
    <!-- crud -->
    <insert id="insertUser" parameterType="com.bluemsun.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, pwd, phone, uuid, admin)
        VALUES (#{name}, #{pwd}, #{phone}, #{uuid}, #{admin})
    </insert>
    <update id="updateUser" parameterType="com.bluemsun.entity.User">
        UPDATE user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="photo != null">
                photo = #{photo},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="updatePwd">
        UPDATE user
        SET pwd = #{pwd}
        WHERE id = #{userId}
    </update>
    <update id="ban">
        UPDATE user SET banned = #{banned} WHERE id = #{userId}
    </update>
    <delete id="deleteUser" parameterType="int">
        DELETE
        FROM user
        where id = #{id}
    </delete>
    <select id="getUser" resultType="com.bluemsun.entity.User"
            parameterType="com.bluemsun.entity.User">
        SELECT name,pwd,phone,admin,photo,banned,uuid,id,create_time FROM user
        WHERE
        <choose>
            <when test="uuid != null and pwd != null">
                uuid = #{uuid} AND BINARY pwd = #{pwd}
            </when>
            <when test="uuid != null">
                uuid = #{uuid}
            </when>
            <when test="id != null">
                id = #{id}
            </when>
            <otherwise>
                1 = 1
            </otherwise>
        </choose>
        <if test="admin != null">
            AND admin = #{admin}
        </if>
    </select>
    <!-- user page -->
    <select id="getAmount" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM user
    </select>
    <select id="getUsersInPage" resultType="com.bluemsun.entity.User">
        SELECT name,
               phone,
               photo,
               admin,
               banned,
               uuid,
               id,
               create_time
        FROM user
        LIMIT #{start},#{len}
    </select>
</mapper>