<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.dao.UserDao">
    <cache type="com.bluemsun.util.RedisMybatisCache"/>
    <insert id="insertUser" parameterType="com.bluemsun.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <update id="updateUsername">
        UPDATE users SET username = #{username} WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE users SET password = #{password} WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM users where id = #{id}
    </delete>

    <select id="getUser" resultType="com.bluemsun.entity.User" parameterType="com.bluemsun.entity.User">
        SELECT * FROM users WHERE
            <choose>
                <when test="username != null and password != null">
                    BINARY username = #{username} AND BINARY password = #{password}
                </when>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    1 = 1
                </otherwise>
            </choose>
    </select>

    <select id="isExist" resultType="com.bluemsun.entity.User">
        SELECT id FROM users WHERE BINARY username = #{username} LIMIT 1
    </select>

    <select id="getAmount" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM users
    </select>

    <select id="getUsersInPage" resultType="com.bluemsun.entity.User">
        SELECT username FROM users LIMIT #{start},#{len}
    </select>
</mapper>